.cp-login {
    display: flex;
    flex-direction: column;

    .btn_primary {
        &.submit {
            line-height: 46px;
        }
    }

    ::ng-deep {
        .p-dropdown {
            .p-dropdown-label {
                line-height: 22px;
            }
        }
        
        .mw-128px {
            min-width: 128px;
        }
    
        @media only screen and (min-width: 1440px) and (max-width: 1921px) {
            .p-dropdown-label {
                padding: 1rem;
                line-height: 30px;
            }
        }
    
        @media only screen and (min-width: 1921px) {   
            .p-dropdown-label {
                padding: 1rem;
                line-height: 42px;
                font-size: 20px;
            }
        }
    }
}