@import "../../themes/jp-theme/core/variable";

footer {
    .contact-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: map-get(map-get($palette, white), 1);

        p {
            &:first-child {
                font-size: 1.5vw;
            }

            &:last-child {
                font-size: 1vw;
            }

            a {
                color: map-get(map-get($palette, white), 1);
            }
        }
    }

    .follow-us {
        position: absolute;
        bottom: 6px;
        right: 50px;
        color: map-get(map-get($palette, white), 1);

        a {
            color: map-get(map-get($palette, white), 1);
        }
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    main {
        height: 90%
    }
}