<div class="h-100">
	<app-menu></app-menu>

	<main>
		<router-outlet></router-outlet>
	</main>

	<footer class="rel">
		<img src="assets/images/waves.svg" class="img-fluid" alt="footer banner">
		<div class="contact-info">
			<p class="font-medium mb-1">WHAT CAN WE HELP YOU DO TODAY?</p>
			<p class="font-medium mb-1">
				985.851.0760 / 866.957.3764 | <a class="no-underline" target="_blank" href="{{myGovernmentOnlineOrg}}/#contactus">CONTACT US</a>
			</p>
		</div>
		<div class="follow-us d-flex align-items-center flex-column gap-3">
			<span class="fs-1vw font-semibold">Follow us on</span>
			<div class="social-media">
				<a *ngFor="let item of socialHandles" [href]="item.path" target="_blank" class="mx-3">
					<img [src]="item.img" [alt]="item.title" class="{{item.class}}">
				</a>
			</div>
			<a href="https://m.mygovernmentonline.org/mobile/" target="_blank" class="fs-1vw font-semibold no-underline">
				Go to Mobile App
			</a>
		</div>
	</footer>
</div>

<!-- <p-toast [styleClass]="toastObj && toastObj.sticky ? 'toaster-wide' : 'toaster'" position="top-right" key="toast"
	[baseZIndex]="1000">
	<ng-template let-message pTemplate="message">
		<div class="p-flex p-flex-column" style="flex: 1;">
			<div class="p-text-center">
				<div>
					<i *ngIf="message.severity == 'error'" class="fa fa-exclamation-triangle"
						style="font-size: 3rem; color: red;"></i>
					<i *ngIf="message.severity == 'success'" class="fas fa-check"
						style="font-size: 3rem; color: green;"></i>
					<i *ngIf="message.severity == 'info'" class="fas fa-info" style="font-size: 3rem; color: blue;"></i>
					<span style="padding-left: 15px; padding-bottom: 10px; font-size: 2rem;">{{message.summary}}</span>
				</div>
				<div [ngStyle]="{'overflow-y': toastObj && toastObj.sticky ? 'scroll' : 'auto' }"
					style="padding-top: 10px; max-height: 300px !important;">
					<span [innerHtml]="message.detail" style="white-space: pre-line"></span>
				</div>
			</div>
		</div>
	</ng-template>
</p-toast> -->