@import "../../themes/jp-theme/core/variable";

.navbar {
    padding: 1rem 3rem;

    .navbar-toggler {
        border: 0;

        &:focus {
            box-shadow: none;
        }

        .pi-align-justify {
            font-size: 24px;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: map-get(map-get($palette, black), 1);
                font-weight: 500;
                &.active {
                    font-weight: bold;
                    span {
                        border-bottom: 2px solid map-get(map-get($palette, blue), 1);
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {
        padding: 1rem 0.5rem;
        display: block;

        .header-fluid {
            width: auto;
            margin-right: unset;
            margin-left: unset;
            justify-content: unset;

            .navbar-nav {
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .navbar-toggler {
            .pi-align-justify {
                font-size: 22px;
            }
        }
    }
}
