<div class="d-flex main-content">
	<div class="left-side">
		<div class="content">
			<div>
				<!-- <router-outlet></router-outlet> -->
			</div>
			<div class="contact-us">
				Have a question or would like to schedule a demo?
				<a target="_blank" href="{{myGovernmentOnlineOrg}}/#contactus" type="button" class="primary-outline-button w-100">
					<img style="height: 37px;" src="../../../assets/icons/mail.svg" /> CONTACT US
				</a>

				<!-- <button type="button" class="primary-outline-button w-100" (click)="gotoContactUs()">
					<img style="height: 37px;" src="../../../assets/icons/mail.svg" /> Contact Us
				</button> -->
			</div>
		</div>
	</div>
	<div class="side-img">
		<app-login-circles></app-login-circles>
	</div>
</div>