.auth-options {
    min-width: 280px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 10px;
}

.contact-us {
    font-size: 20px;
    line-height: 24px;
    color: #231f20;

    a {
        line-height: 46px;
    }
}

::ng-deep {
    .app-store {
        border-radius: 6px;
    }
    
    .downBox {
        margin-top: 65px;
        margin-bottom: 65px;
        display: flex;
        justify-content: center;
    
        img {
            height: 47px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .app-center {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}