<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="auth-options py-5">
				<div>
					<router-outlet></router-outlet>
				</div>
				<div class="contact-us font-bold">
					<p>Have a question or would like to schedule a demo?</p>
					<a target="_blank" href="{{myGovernmentOnlineOrg}}/#contactus" type="button" class="btn_primary_outline d-flex justify-content-center align-items-center gap-1 no-underline">
						<img width="30" height="29" src="../../../assets/icons/mail.svg" /> CONTACT US
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 d-none d-sm-none d-md-block">
			<div class="auth-banner py-5">
				<app-login-circles></app-login-circles>
			</div>
		</div>
	</div>
</div>