<!-- <div *ngIf="shouldRenderLoginPage" class="login">
    <h1>LOGIN</h1>
    <button type="submit" (click)="gotoCpPortal()" class="btn btn-sm btn-primary customer-portal-btn">
        <img src="../../../assets/images/user.svg">
        CUSTOMER PORTAL
    </button>
    <button type="submit" (click)="onSubmit()" class="btn btn-sm btn-primary jurisdiction-portal-btn">
        <img src="../../../assets/images/city.svg">
        JURISDICTION PORTAL
    </button>
</div> -->

<div *ngIf="shouldRenderLoginPage" class="login">
    <button type="button" [routerLink]="['/auth/cplogin']" class="primary-button" style="margin-top: 20px !important;">
        <img style="height: 43px;" src="../../../assets/images/customer.svg">
        Customer Portal
    </button>
    <button type="button" (click)="onSubmit()" class="primary-button">
        <img style="height: 43px;" src="../../../assets/images/city.svg">
        Jurisdiction Portal
    </button>

    <!--
    <h5>
        OR
    </h5>

        <div style="background: transparent; padding: 0;">
        <form [formGroup]="jurisdictionForm" style="width: 100%; height: 100%;">

            <div class="jurisdiction-portal">
                <p-dropdown [options]="countries" name="countries" formControlName="selectedCountry"
                    styleClass="ui-column-filter stateStyleState stateStyleHeight">
                </p-dropdown>

                <p-dropdown [options]="states" filterMatchMode="startsWith" formControlName="State"
                    placeholder="Select a State" optionLabel="State" searchOptionInRange
                    (onChange)="onChangeState($event)" filter="true"
                    styleClass="ui-column-filter stateStyle stateStyleHeight">
                </p-dropdown>

                <p-dropdown [options]="jurisdictions" filterMatchMode="startsWith" formControlName="Jurisdiction"
                    placeholder="Select a Jurisdiction" optionLabel="Jurisdiction" filter="true"
                    styleClass="ui-column-filter stateStyleLarge stateStyleHeight">
                </p-dropdown>

                <button type="button" [disabled]="!jurisdictionForm.valid" (click)="goContinue()"
                    class="btn btn-sm btn-primary jurisdiction-portal-btn-go">
                    GO
                </button>
            </div>
        </form>
    </div> -->

    <div class="downBox">
        <a href="https://apps.apple.com/us/app/mgo-connect/id1458772737" target="_blank" style="margin-right: 16px;">
            <img alt="app-store" src="./../../../assets/images/app-store.png" />
        </a>

        <a href="https://play.google.com/store/apps/details?id=com.mgoconnect" target="_blank"
            style="margin-right: 16px;">
            <img alt="g-play" src="./../../../assets/images/g-play.png" />
        </a>
    </div>
</div>