.text-info,
.text-success {
    margin-top: 0 !important;
}

:host {
    margin-top: 60px;
}

::ng-deep ngx-login {
    .login {
        display: flex;
        flex-direction: column;
        text-align-last: left;

        .customer-portal-btn {
            margin-bottom: 5px;
            background: #1c76b9;
            border-radius: 0.5em;
            height: 100% !important;
            padding: 0.5rem;
            display: flex;
            align-items: center;
        }

        .jurisdiction-portal-btn {
            margin-top: 15% !important;
            margin-bottom: 10px;
            background: #1c76b9c7;
            border-color: #1c76b9c7;
            border-radius: 0.5em;
            height: 100% !important;
            padding: 0.5rem;
            display: flex;
            align-items: center;
        }

        .jurisdiction-portal-btn-go {
            background: #1c76b9c7;
            border-color: #1c76b9c7;
            border-radius: 0.5em;
            height: 100% !important;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            margin: 0 !important;
            width: 10%;
            justify-content: center;
            padding-left: 0 !important;
            padding-right: 0 !important;
            line-height: 20px;
        }

        .jurisdiction-portal {
            display: flex;
            flex-wrap: nowrap;
        }

        img {
            height: 20px;
            margin-right: 10px;
        }

        .app-store {
            border-radius: 6px;
        }

        @media only screen and (max-width: 700px) {

            .customer-portal-btn,
            .jurisdiction-portal-btn,
            .p-dropdown-label,
            .jurisdiction-portal-btn-go {
                font-size: 20px !important;
            }

            .jurisdiction-portal-btn {
                margin-top: 0 !important;
            }
        }

        @media only screen and (max-width: 900px) {

            .customer-portal-btn,
            .jurisdiction-portal-btn,
            .p-dropdown-label,
            .jurisdiction-portal-btn-go {
                font-size: 10px !important;
            }
        }

        @media only screen and (max-width: 375px) {
            .jurisdiction-portal-btn-go {
                align-items: center;
                display: inline-flex;
            }
        }

        @media only screen and (min-width: 1500px) {

            .customer-portal-btn,
            .jurisdiction-portal-btn,
            .p-dropdown-label,
            .jurisdiction-portal-btn-go {
                padding: 1rem;
            }

            .p-dropdown-label,
            .jurisdiction-portal-btn-go {
                line-height: 30px;
            }

            img {
                height: 30px;
            }
        }

        @media only screen and (min-width: 3000px) {
            img {
                height: 42px;
            }

            .p-dropdown-label,
            .jurisdiction-portal-btn-go {
                line-height: 42px;
            }

            .jurisdiction-portal-btn {
                margin-top: 20% !important;
            }
        }
    }
}

:host ::ng-deep .p-dropdown {
    width: 100%;
    height: 100%;
}

:host ::ng-deep p-dropdown {
    margin-right: 1%;

    &:first-child {
        width: 18%;
    }

    &:nth-child(2) {
        width: 29%;
    }

    &:nth-child(3) {
        width: 40%;
    }

    .p-dropdown-label {
        font-size: 1vw;
        display: flex;
        align-items: center;
        padding: 0 0.5rem !important;
        line-height: 20px;
    }
}

.downBox img {
    height: 47px;
    width: 100%;
}

.downBox {
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
}