.login {
    display: flex;
    flex-direction: column;
    text-align-last: left;

    button {
        line-height: 46px;
    }

    .app-store {
        border-radius: 6px;
    }
    
    .downBox img {
        height: 47px;
        width: 100%;
    }
    
    .downBox {
        margin-top: 65px;
        margin-bottom: 65px;
        display: flex;
        justify-content: center;
    }
}