<div *ngIf="shouldRenderLoginPage" class="login">
    <button type="button" [routerLink]="['/auth/cplogin']" class="d-flex justify-content-center align-items-center btn_primary mb-3">
        <img width="25" height="29" src="../../../assets/icons/customer-outline.svg" class="me-2">
        Customer Portal
    </button>
    <button type="button" (click)="onSubmit()" class="d-flex justify-content-center align-items-center btn_primary">
        <img width="38" height="39" src="../../../assets/icons/city.svg" class="me-2">
        Jurisdiction Portal
    </button>

    <div class="downBox">
        <a href="https://apps.apple.com/us/app/mgo-connect/id1458772737" target="_blank" style="margin-right: 16px;">
            <img alt="app-store" src="./../../../assets/images/app-store.png" />
        </a>

        <a href="https://play.google.com/store/apps/details?id=com.mgoconnect" target="_blank"
            style="margin-right: 16px;">
            <img alt="g-play" src="./../../../assets/images/g-play.png" />
        </a>
    </div>
</div>